<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				 <!--数据库方言配置，功能：告知hibernate所用的DBMS,然后hibernate会根据具体的DBMS生成优化的SQL语句-->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop><!-- 在日志上是否打印出sql语句 -->
                <prop key="hibernate.format_sql">true</prop><!-- 先格式化SQL语句，再打印 -->
                <!-- <prop key="hbm2ddl.auto">create</prop> -->
                <!-- 事务后关闭连接
                <prop key="hibernate.connection.release_mode">after_transaction</prop>
                 -->
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/bright/bean/User.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UserDAO" class="com.bright.bean.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	 <tx:annotation-driven transaction-manager="transactionManager" />
</beans>